<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Fermeture exptionnelle
        </mat-panel-title>
        <mat-panel-description>
         le 05/09/2022
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Le restaurant est exptionnellement fermé pour une durée indéterminer<br>
        Pour cause de travaux.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Exposition
        </mat-panel-title>
        <mat-panel-description>
          le 15-02-2022
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Votre restaurant participera à la foire à l'andouille du VAL D'AJOL.
        <br>
        Du samedi 19 au lundi 21 Février 2022 de 10h jusqu'à 18h.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              Changement d'horaire
          </mat-panel-title>
          <mat-panel-description>
            le 04-05-2021
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Le restaurant est désormait ouvert :
          <br>
            lundi	14:00–18:00<br>
            mardi	09:30–12:30, 14:00–18:30<br>
            mercredi	09:30–12:30, 14:00–18:30<br>
            jeudi	09:30–12:30, 14:00–18:30<br>
            vendredi	09:30–12:30, 14:00–18:30<br>
            samedi	09:30–12:00, 14:00–18:00<br>
            dimanche	Fermé<br>
        </p>
      </mat-expansion-panel>

  </mat-accordion>