<form [formGroup]="registerForm" (ngSubmit)="submit()">

    <div class="formContact">
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Saisissez l'objet du mail</mat-label>
            <input matInput formControlName="sujet" name="sujet">
            <mat-error *ngIf="registerForm.hasError('required','sujet')">Ce champ est vide</mat-error>
            <mat-error *ngIf="registerForm.hasError('minlength','sujet')">Veuillez mettre au moins 3 caractères</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Saisissez votre message</mat-label>
            <textarea matInput formControlName="message" name="message"></textarea>
            <mat-error *ngIf="registerForm.hasError('required','message')">Ce champ est vide</mat-error>
            <mat-error *ngIf="registerForm.hasError('minlength','message')">Veuillez mettre au moins 10 caractères</mat-error>
        </mat-form-field>
        <br>
        <!-- <mat-form-field appearance="outline" class="form-field">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="name" name="name">

            <mat-error ngIf="registerForm.get('name').hasError('required')">This field is required</mat-error>
            <mat-error ngIf="registerForm.get('name').hasError('pattern')">Must be your full name</mat-error>

            <mat-error *ngIf="registerForm.hasError('required','name')">Veuillez remplir ce champ</mat-error>
            <mat-error *ngIf="registerForm.hasError('pattern','name')">Veuillez mettre que des lettres</mat-error>
        </mat-form-field> -->
        <section>
            <button mat-flat-button color="primary" type="submit" class="buttonValide">Valider</button>
        </section>
    </div>
</form>